@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #202124;
    font-family: 'Lobster Two', sans-serif;
}


a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: fuchsia;
}

h1{
    font-size: 3rem;
    color: white;
    margin: 20px;

}
.itemDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 15px;
    margin: 20px;
}

.imgDiv figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 15rem;
    height: 10rem;
    height: 2;
    border-radius: 5px;
}
img:hover{
    transform: scale(1.1);
    transition: all  ease-in-out;
}
figcaption{
    font-size: 1.5rem;
    color: white;
}

button{
    background-color: fuchsia;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
}


.loadBtn{
    margin: 20px;
}