@media screen and (max-width: 480px) {

    *{
        margin: 0;
        padding: 0;
    }

    main{
        height: 5300px;
    }

    .main-text{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 20dvh;
        color: red;
        margin: 0px 0px;
    }

    .info-1, .info-2, .info-3, .info-4{
        margin: 0px 0px;
        padding: 50px 25px;
    }

    .info-1 p, .info-2 p, .info-3 p, .info-4 p{
        width: 250px;
    }

    .info-1 h2{
        width: 250px;
        font-size: 100px;
    }
    .secondary-text {
        width: 250px;
    }

    .info-4{
        height: 1400px;
        width: 300px;
        margin: 0px 0px;
    }

    .cta p{
        width: 250px;
        font-size: 32px;
        margin: 125px 50px;
    }
.cta{
    height: 600px;
}
}