*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: white;
}

li{
    list-style: none;
    background: #435359;
    width: 32%;
    height: 40px;
    text-align: center;
    font-size: 2em;
}

ul{
    display:flex;
    justify-content: center;
    gap: 10px;
    width: 50vw;
    padding-bottom: 1em;
}

a{
    text-decoration: none;
    color: white;
}

input{
    background: #1F2B32;
}

.tab{
    display: flex;
}

.signup{
    background:#435359;
}

.signup:hover{
    background: #3CB47A;
}

.login{
    background: #3CB47A;
}

.login-form{
    display: flex;
    background-color: #1F2B32;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 25em;
    margin: 5% auto;
    padding: 1vh;
}

.register{
    margin: 10px;
}

[class^="reihe-"]{
    display: flex;
    justify-content: center;
}
[class^="reihe-"] input{
    width: 33vw;
    margin: 5px;
    padding: 10px;
}
.reihe-1 input{
    width: 16vw
}

.reihe-3{
    padding-bottom: 20px;
}



input[type="submit"]{
    background: #3CB47A;
    color: white;
    border: none;
    padding: 0px 5px;
    width: 33vw;
    height: 75px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-top: 0.25em;
}

input[type="submit"]:active{
    border: none;
    background-color: #3CB47A;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}
.pwlost{
    display: flex;
    margin: 1em;
    text-align: right;
    align-self: flex-end;
}