@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Playfair';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: white;
    list-style: none;
    box-sizing: border-box;
}


body{
    background-image: url(../img/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    width: 100vw;
}

header{
    position: relative;
    height: 5vh;
    width: 100vw;
    background-color: transparent;
}

a{
    text-decoration: none;
}


.main-nav {
    width: 100vw;
    position: absolute;
    margin-top: 10vh;
}

.main-nav li{
    display: inline-block;
    position: relative;
    left: 15vw;
    padding: 0 50px;
}

.logo{
    left: 10%;
    margin-top: 9vh;
    background: url(../img/logo.svg) no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
}

.login{
    justify-content: right;
        width: auto;
        position: absolute;
        right: 10vw;
    }

.hero{
        width: 50vw;
        position: absolute;
        text-align: right;
        left: 40vw;
        top: 25vh;
}

h1{
    margin-top: 50px;
    font-size: 5em;
}

.hero-text{
margin-top: 5%;
font-weight: 100;
font-size: 1em;
top: 25vh;
left: 50vw;
}

.cta-button{
    background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
    );
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter UI", "SF Pro Display", BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5em;
  font-weight: 500;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 6px 16px;
  margin: 50px auto;
  display: block;
  padding: 5px 20px;
}